.container{

}

.infoContainer{
    padding: 20px;
}

.textContainer{
    text-align: center;
    margin-top: 96px;
    margin-bottom: 96px;
}


.title{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 640px) {
        font-size: 3rem;
        line-height: 1;
    }
}

.userImageContainer{
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.userimage{
    justify-content: center;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 20px;
}

.user{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 150px;
}

.userTextContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    display: flex;
}

.username{
    padding-bottom: 8px;
    max-width: 740px;
    font-size: 18px;
    font-weight: 500;   
    align-items: center;
    padding-right: 4px;
}

.date{
    padding-bottom: 8px;
    max-width: 740px;
    font-size: 18px;
    font-weight: 200;
    align-items: center;
}

.imageContainer{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    max-width: 800px;
    @media (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
    margin-top: -100px;
    margin-bottom: 2.5rem;
    width: 1280px;
    height: 720px;
    position: relative;
    display: flex;
    flex-direction: column;

}

.blogimage{
    border: 4px solid #fff;
}

.content{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    max-width: 800px;
    @media (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
    margin-top: 100px;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 1536px) {
    .title {
      font-size: 54px;
    }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
}