.container{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    margin-top: 20px;

}

.sidebarContainer{
    width: 20rem;
    @media (max-width: 640px) {
        width: 10rem;
    }
    height: 100vh;
    position: relative;
    padding-top: 6rem;
    padding-bottom: 3rem;
    border: 1px solid var(--textColor);
    background-color: var(--bg);
}

.sidebarWrapper{
    width: 50%;
    @media (min-width: 640px) {
        width: 80%;
    }
    position: absolute;
    margin-left: 2rem;
    margin-right: 2.5rem;
    
}

.component{
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    border: 2px solid var(--textColor);
    gap: 0.75rem;
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--bg);
    box-shadow: -5px 5px 0px var(--textColor);
}

@media screen and (max-width: 785px){
    .container{
        display: none;
    }
}

@media screen and (max-width: 1024px){
    .sidebarContainer{
        width: 15rem;
    }

}