.container{
    display: flex;
    width: 100%;
}

.adminWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.adminNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 955px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    max-height: 60px;
    padding-left: 3rem;
    padding-right: 3rem;
    border-top: 1px solid var(--textColor);
    border-bottom: 1px solid var(--textColor);
    border-right: 1px solid var(--textColor);
}

.title{
    font-weight: 500;
}

.image{
    border-radius: 50%;
}


@media screen and (max-width: 640px){
    .adminNav{
        width: 245px ;
    }
}

@media screen and (max-width: 788px){
    .adminNav{
        width: 70% !important;
        border-left: 1px solid var(--textColor);
    }
}

@media screen and (max-width: 1024px){
    .adminNav{
        width:430px ;
    }
}

@media screen and (max-width: 1280px){
    .adminNav{
        max-width: 615px ;
    }
}

@media screena and (max-width:1536px){
    .adminNav{
        max-width: 5px ; 
    }
}