.container{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .select{
    margin-bottom: 50px;
    padding: 10px 20px;
    margin-left: 50px;
    width: max-content;
  }
  
  .editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
  }
  
  .button,
  .addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .addButton {
    border-color: #1a8917;
  }
  
  .add {
    margin-left: 10px;
    display: flex;
    gap: 20px;
    background-color: var(--bg);
    position: absolute;
    z-index: 999;
    width: fit-content;
    left: 50px;
  }
  
  .input{
    padding: 50px;
    font-size: 64px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
  }
  
  .input::placeholder{
    color: var(--textColor);
  }
  
  .textArea {
    width: 100%;
  }
  
  .publish{
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    cursor: pointer;
    border-radius: 20px;
  }

  .image{
    color: var(--textColor);
  }

  @media screen and (max-width: 640px){
    .input,.editor{
        width: 545px ;
    }
}

@media screen and (max-width: 788px){
  .container{
      width: 87% !important;
  }
  /* .input,.editor{
    width: ;
  } */
}

@media screen and (max-width: 1024px){
  .input,.editor{
      width:350px ;
  }
}

@media screen and (max-width: 1280px){
  .editor,.input{
      max-width: 615px ;
  }
}

@media screena and (max-width:1536px){
  .input,.container{
      max-width: 5px ; 
  }
}